@model Ingredient

@{
	ViewBag.Title = $" Edit {Model.Name} ingredient";
}

<h3>Edit Ingredient</h3>
<form asp-action="Edit" method="post">
	<input type="hidden" asp-for="IngredientId" />
	<div class="form-group">
		<label for="Name">Name</label>
		<input id="Name" type="text" asp-for="Name" class=" form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
		<label for="Description">Description</label>
		<input id="Description" type="text" asp-for="Description" class=" form-control" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit"  value="Save" class="btn btn-primary" />
		<a asp-action="Details" asp-route-id="@Model.IngredientId" class="btn btn-secondary"> Back to Details</a>
	</div>
</form>